.half-image {
    background-image: url('/image/m-t-elgassier-aCZ2hiC-iDk-unsplash.jpg');
    min-height: 50vh;
    -ms-flex-order: 1;
    order: 1;
    background-size: cover;
    background-position: 50%;
}
